
<div class="about">
  <h1>Adam Gates</h1>
  
  
  <img src="me (2).jpg" class="me">
  <h2>This is why naked healthy is important to meThis is why naked healthy is important to meThis is why naked healthy is important to meThis is why naked healthy is important to meThis is why naked healthy is important to meThis is why naked healthy is important to me</h2>
</div>