<% @articles.each do |article| %>
  <div class="booyah-box" >
    <h1><%= article.name %></h1>
    <h2><%= article.description %></h2>  
  </div>
  <div class="photo-box">
    <%= image_tag article.photo %>  
  </div>
<% end %>