<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CKEditor</title>
		<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
	</head>
</html>



<div class="booyah-box col-10 offset-1">
  <h1>New Article</h1>
  <%= render 'form' %>
  <%= link_to "back", root_path %>


  
</div>