@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Ranga');
.about {
  text-align: center;
  padding-top: 20px;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}
 h1 {
  font-size: 100px;
}
.nav{
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav .li{
    display: inline;
}
.nav .a{
    display: inline-block;
    padding: 10px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}
.clear {
  clear: both;
}

body {
  background: image_url('congruent_pentagon.png');
}
.me {
  align-items: center;
}